# Copy this file to .env and fill in the values

# Supabase Postgres connection string
DATABASE_URL="postgres://postgres.abcdefg:123456@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true"
DIRECT_URL="postgres://postgres.abcdefg:123456@aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"

# Supabase configuration
SUPABASE_URL="https://your-project.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="your-service-role-key"
NEXT_PUBLIC_SUPABASE_URL="https://your-project.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-anon-key"

# OpenAI configuration
OPENAI_API_KEY="sk-proj-your-openai-key"

# NextAuth configuration
NEXTAUTH_SECRET="random-key"
NEXTAUTH_URL="http://localhost:3000"

